@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Fira+Sans:wght@300&family=Lato:ital,wght@1,300&family=Oswald:wght@300&display=swap');

header h1 {
    
    font-size: 400%;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 20px;
    float: left;
}

#nav {
  font-size: 200%;
  letter-spacing: 10px;
  font-family: Comic Neue, Arial;
  overflow: hidden;
    
   
}

nav li {
    list-style-type: none;
    margin-right: 20px;
    padding: 0;
    border: none;
    float: right;
    
}

/*navigation links*/

nav a {
    color: inherit;
    text-decoration: none; 
}

#nav a:hover {
    background-color: gray;
}

#nav, header h1 {
    line-height: 100px;
}

body {
    background-color: #000;
    color: #fff;
    font-family: Comic Neue, Arial;
    background-color: black;
}

/*hero image & cover text*/

#hero-image {
    height: 300px;
    width: 100%;
    background: no-repeat center center;
    overflow: hidden;
    
} 

#home {
    position: relative;
}

#cover-text {
    font-size: 130%;
    font-family: Comic Neue, Arial;
    text-transform: ;
    letter-spacing: 4px;

    top: 100px;
    left: 80px;
    position: absolute;

    width: 300px;
    height: 250px;

    padding-top: 10px;
    padding-left: 20px;

    background-color: rgba(122, 122, 173, 0.5);
    color: #fff;
    
}

/* About */
#apps {
    
}

#apps h1 {
    text-align: center;
    font-size: 300%;
    letter-spacing: 4px;
    margin: 50px;
    
}


#apps div {
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
    height: 300px;
    background-position: center;
    
}

.description {
  float: right;
  height: 300px;
  width: 500px;
  font-size: large;
  text-align: left;
  letter-spacing: 2px;

}

.apps-img {
    height: 250px;
    width: 350px;
}

/* feedback-form */

#feedback {
    text-align: center;
    width: 100%;
    
}

#feedback h2 {
    font-size: 200%;
    margin: 4%;
}

.form-label {
    width: 250px;
}

.form-input {
    width: 250px;
    height: 100px;
  }

/* Media query for small screen */

@media screen {max-width: 1200px;
    body {
    
    }
}


@media screen { max-width: 480px;
    #home {
        width: 100%;
        height: 400px;
    }

    header {
        border: none;
        padding: 0;
        margin: 2%;
        height: 150px;
        width: 250;
    } 

    header h1 {
        font-size: 200%;
        text-transform: uppercase;
        letter-spacing: 1px;
        float: left;
        height: 100px;
        width: 200px;
    }
    
    #nav {
        font-size: 100%;
        letter-spacing: 1px;
        width: 100px;
        height: 150px;
        padding: 0;
        float: right;
      }

    #nav li {
        width: 60px;
        height: 20px;
    }

    #hero-image {
        width: 100%;
        height: 250px;
    }

    #cover-text {

        width: 200px;
        height: 200px;
        padding: 0;
        top: 20px;
        left: 10px;
    
    }
    #cover-text h3 {

        font-size: 100%;
        font-family: Comic Neue, Arial;
        text-transform: ;
        letter-spacing: 1px;
        text-align: center;
    }
    #apps {
        width: 480px;
        height: auto;
        overflow: hidden;
    }

    #apps h1 {
        text-align: center;
        font-size: 150%;
        letter-spacing: 2px;
        margin: 20px;
    
    }

    #apps div {
        float: left;
        margin-left: 5%;
        width: 100%;
        height: 100px;
        padding-bottom: 20px;
        padding-top: 10px;
        
    
    }

    .apps-img {
        height: 100px;
        width: 150px;
        float: left;
    }
    #apps .description{
            float: right;
            width: 80%;
            height: 300px;
            margin-right: 5%;
    }
    
    .description {
        height: 100px;
        width: 200px;
        font-size: 100%;
        text-align: left;
        letter-spacing: 1px;
    }
    #feedback {
        overflow: hidden;
        width: 100%;
        height: 400px;
    }
    #feedback div {
        width: 100%;
        height: 200px;
    }
    #feedback h2 {
        text-align: center;
        font-size: 150%;
        letter-spacing: 2px;
        padding-bottom: 20px;
        padding-top: 30px;
    }

}