@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Fira+Sans:wght@300&family=Lato:ital,wght@1,300&family=Oswald:wght@300&display=swap');
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}



/*hero image & cover text

#hero-image {
    height: 600px;
    width: 100%;
    background: no-repeat center center;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
} 

#home {
    position: relative;
}

#cover-text {
    font-size: 130%;
    font-family: Comic Neue, Arial;
    letter-spacing: 4px;

    top: 100px;
    left: 80px;
    position: absolute;
    border-radius: 25px;

    width: 300px;
    height: 250px;
    padding-left: 10px;

    background-color: rgba(10, 10, 10, 0.502);
    color: #fff;
}
*/
/* About 
#apps {
    width: 100%;
    height: 1500px;
    border: 2px solid white;
    border-radius: 5px;
}

#apps h2 {
    text-align: center;
    font-size: 200%;
    letter-spacing: 4px;
    margin: 30px;
    border: 2px solid white;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}


#apps div {
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 2%;
    height: 300px;
    background-position: center;
}

.apps-img {
    border-radius: 25px;
    height: 180px;
    max-width: 40%;
    float: left;
    margin-left: 25%;
    margin-top: 10%;
}

.description{
    float: left;
    font-size: 100%;
    text-align: left;
    letter-spacing: 2px;
    border-radius: 25px;
    background-color: rgba(10, 10, 10, 0.502);
    width: 60%;
    height: 240px;
    padding-top: 2%;
    padding-left: 2%;
}
*/
/* Feedback-form 

#feedback {
    width: 100%;
    height: 500px;
    border: 2px solid white;
    border-radius: 5px;
}

#feedback h3 {
    font-size: 150%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 30px;
    border: 2px solid white;
    border-radius: 5px;
}

form {
    max-width: 30%;
    height: 350px;
    margin-left: 35%;
    position: absolute;
}

form .form-input {
    width: 100%;
    height: 20px;
}
    */
/*Footer
footer {
    height: 100px;
    width: 100%;
    margin-top: 0;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
}

footer ul {
    height: 100px;
    margin-left: 5%;
    text-align: center;
    padding-top: 20px;
}

footer li {
    display: inline;
    list-style-type: none;
    font-size: 200%;
    width: 30%;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}

footer a {
    color: inherit;
    padding: 5%;
}

footer a:hover {
    background-color: #808080;
}

footer p {
    margin: 5px;
}
*/

/*Media query for large screen
@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
